:root {
  --hdo-bg: #020204;
  --hdo-black: #020204;
  --hdo-cyan: #00f0ff;
  --hdo-gold: #ffea00;
  --hdo-panel: #0a0a12f5;
  --hdo-white: #ffffff;
  --hdo-green: #00bf33;
  --hdo-major: #1b4d22;
  --hdo-blood: #7a0505;
  --hdo-pink: #ff007f;
  --hdo-alice: #ff44ef;
  --hdo-purple-deep: #1a0033;
  --hdo-purple: #6600ff;
  --hdo-tunder: #ef44ff;
}
* {
   border: rgba(255, 0, 0, 0) solid 1px;
}



/* animation: hopeMorphing 3s infinite ease-in-out alternate;
animation: hopeRotation 25s infinite linear; */